

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* shared style */
  .text-primary{
    color: #FD6E0A;
  }
  main{
    margin: 0 auto;
    max-width: 1140px;
  }
  main section{
    margin-top: 130px;
    margin-bottom: 130px;
  }
  .section-about{
    background-color: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 157px;
    
    
  }

  .text-center{
    text-align: center;
  }

  .about{
    background-color: #FFFFFF;
    
    
  }

  

  .btn-primary{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
  }
  .header{
    
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    background-color: #FFF8F3;
    
  }

  .dark-2{
    color: #474747
  }

/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
}
nav ul{
    display: flex;
    align-items: center;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
    margin: 0;
    

}

.banner-content{
    width: 585px;
    margin-left: 230px;
    margin-top: 185px;
   
}
.dark-1{
    color: #181818;
}
.dark-3{
    color: #757575;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin: 0;
}
.banner-description{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
}

.banner-profile-pic{
    width: 584px;
    height: 635px;
    margin-right: 38px;
    margin: 0;
    
}

.everything{
    display: flex;
    justify-content: space-around;
    
}
.para2{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
    margin-top: 0;
}
.para{
    font-size: 20px;
    color: #757575;
    margin-bottom: 0;
}

.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.about-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}
.section-descripton{
    margin-bottom: 50px;
    padding: 0px 150px;
}
.section-title{
    font-size: ;
    margin-bottom: 30px;
}

.skill-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 33px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
